.community-container {
  text-align: left;
  padding: 100px;
  /* padding-top: 30px; */
  background-color: black;
  color: white;

  &.blue {
    background-color: #000435;
  }
}

.community-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.community-child-div {
  text-align: center;

  & h2 {
    font-weight: 600;
  }

  & span {
    display: block;
  }
}

.community-graph {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* padding-bottom: 40px; */
}

.community-select {
  padding-left: 40px;
  margin-bottom: 20px;
}

.linechart {
  margin: 0 auto;
  text-align: center;
}