/* Cleanup.css */

.cleanup-container {
    text-align: center;
    margin: 20px;
  }
  
  .cleanup-buttons {
    margin-bottom: 20px;
  }
  
  .cleanup-buttons button {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .cleanup-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid black; /* Add border property */
    padding: 20px;
    border-radius: 8px;
    outline: none;
    width: 80%; /* Adjusted width */
    max-width: 500px; /* Set max-width for larger screens */
  }
  
  .cleanup-modal h2 {
    margin-bottom: 20px;
  }
  
  .cleanup-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .cleanup-modal label {
    margin-bottom: 10px;
  }
  
  .cleanup-modal input,
  .cleanup-modal textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .cleanup-modal button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cleanup-modal input[type="radio"] {
    margin-right: 5px;
  }

  .cleanup-modal label select {
    margin-left: 10px; /* Add margin to create space between the label and the select element */
    font-size: 20px; /* Adjust the font size as needed */
  }

  /* Module World Cup */
.section {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  font-size: 75px;
  font-weight: bolder;
}

.subtitle {
  font-size: 40px;
  font-weight: bold;
}

.headerBoxes {
  padding: 15px 20px 10px;

}


  
  