/* Cleanup.css */

.cleanup-container {
    text-align: center;
    margin: 20px;
  }
  
  .cleanup-buttons {
    margin-bottom: 20px;
  }
  
  .cleanup-buttons button {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .cleanup-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid black; /* Add border property */
    padding: 20px;
    border-radius: 8px;
    outline: none;
    width: 80%; /* Adjusted width */
    max-width: 500px; /* Set max-width for larger screens */
  }
  
  .cleanup-modal h2 {
    margin-bottom: 20px;
  }
  
  .cleanup-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .cleanup-modal label {
    margin-bottom: 10px;
  }
  
  .cleanup-modal input,
  .cleanup-modal textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .cleanup-modal button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cleanup-modal input[type="radio"] {
    margin-right: 5px;
  }

  .cleanup-modal label select {
    margin-left: 10px; /* Add margin to create space between the label and the select element */
    font-size: 20px; /* Adjust the font size as needed */
  }

/* Module World Cup */

.section {
  margin: 3% 5%;
  padding-bottom: 25px;
}

.title {
  font-size: 75px;
  font-weight: bolder;
  color: #f0faf0;
}

.subtitle {
  font-size: 40px;
  font-weight: bold;
  color: #f0faf0;
}

.cardText {
  font-size: 20px;
  font-weight: normal;
  color: #f0faf0;
}

.totalOverall {
  padding: 10px;
  text-align: center;
  background-color: #f0faf0;
  outline: #163020 solid 3px;
  border-radius: 5px;
}

.otherCards {
  height: auto;
  text-align: center;
  background-color: #f0faf0;
  outline: #163020 solid 5px;
  border-radius: 5px;
}

.cardOutline {
  outline: #163020 solid 3px;
  border-radius: 5px;
}

.parentContainer {
  display: flex;
  flex-wrap: wrap; /* Allows multiple lines */
  align-items: stretch; /* Stretches the children to fill the container */
}

.leaderBoardTable tbody {
  text-align: center;
  font-size: 18px;
}

.leaderBoardTable thead {
  font-weight: bold;
  text-align: center;
}

.leaderBoardTable thead th {
  font-weight: bold;
  text-align: center;
  color: #163020;
}



  
  